<header>
    <h1 class="libre-barcode-128-text-regular p10 font-size-large color-secondary logo"><a href="/">Library Management</a></h1>
    <!-- <div class="flex-center gap-normal background-gray header-user-info">
        <span class="header-username">username</span>
        <button class="btn-secondary" type="button" name="logout">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>&nbsp;Log out
        </button>
    </div> -->
</header>