<div class="flex-wrap gap-normal book-identifiers">
    <h2>Title of the book</h2>
    <span class="text-light">#1984451</span>
</div>
<div class="container container-shadow flex-wrap gap-normal container-book">
    <div class="book-thumbnail">
        <i class="fa-solid fa-book"></i>
    </div>
    <p>Description, author, release date and e.g.</p>
</div>
<div class="flex-wrap gap-normal">
    <div class="container container-shadow flex-column flex-center book-status manage-item">
        <span class="text-bold">Ordered</span>
        <span class="text-light">26.11.2024</span>
    </div>
    <button type="button" class="btn-primary manage-item" name="action">Return</button>
    <button type="button" class="btn-secondary manage-item" name="edit"><i class="fa-solid fa-pen-to-square"></i>&nbsp;Edit</button>
    <button type="button" class="btn-secondary manage-item" name="delete"><i class="fa-solid fa-trash"></i>&nbsp;Delete</button>
</div>
<h2>Order history</h2>
<div class="container container-shadow flex-column">
    <span>Test test test</span>
    <span>Test2 test2 test2</span>
</div>