<div class="container container-shadow container-login background-gray gap-normal flex-column">
    <h2 class="text-center">Authorize to continue</h2>
    <form class="flex-column gap-normal">
        <div class="flex-column gap-small">
            <label for="login" class="text-bold font-size-small">Login</label>
            <input id="login" name="login" type="text" placeholder="Login" required autocomplete="on">
        </div>
        <div class="flex-column gap-small">
            <label for="password" class="text-bold font-size-small">Password</label>
            <input id="password" name="password" type="password" placeholder="Password" required autocomplete="on">
        </div>
        <button class="btn-primary" type="submit">Authorize</button>
        <button class="btn-secondary" type="button">Create account</button>
    </form>
</div>